
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  margin: 20px 0;
  font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:focus{
  text-decoration: none;
  outline: 0;
}
.container{
  max-width: 980px;
}

.left-menu ul,
.left-menu li{
  list-style: none;
  padding: 0;
  margin: 0;
}
.left-menu > ul{
  border-right: 2px solid #ccc;
}
.left-menu > ul >li{
/*  box-shadow: 0 2px 2px rgba(0,0,0,.15);
  background: #fff;
  margin-bottom: 2px;*/
  position: relative;
}
.left-menu li a{
  display: block;
  padding: 5px 25px 5px 10px;
  color: #777;
  position: relative;
  transition: all 0.3s ease;
}
.left-menu > ul > li > a{
  font-weight: 700;
}
.left-menu li a:hover{
  background-color: #003366;
  //background-color: #CCCC99;
  color: #fff;
}
.left-menu li li a{
  padding: 2px 2px 2px 20px;
}
.left-menu li li a .fa{
  position: absolute;
  left: 11px;
  top: 9px;
  font-size: 7px;
}

.left-menu li.has-children > a:after{
  content: "\f0d7";
  position: absolute;
  right: 10px;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  font-size: 20px;
  top: 2px;
  transition: transform 0.3s ease;
}
.left-menu li.has-children.open > a:after{
  //content: "\f0d8";
  transform: rotate(-180deg);
}